/* Common header */
@mixin header{
   display: block;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 999;
} 

/* Header group */
@mixin hgroup($color: light){
   @each $item in $colors{
      @if $color == nth($item, 1){
         position: relative;
         width: 100%;
         height: 50px;
         @include multiple-box-shadow( inset 0 45px 35px -35px nth($item, 6));
                       
         & a{            
            font-family: $font-condensed;
            font-size: 30px;
            line-height: 1;
            color: nth($item, 2);
            text-decoration: none;
            border-bottom: 1px dotted nth($item, 2);    
            @include transition(all, .3s);
            
            &:hover{
               color: nth($item, 8);
               border-color: nth($item, 8);
            }
            &.is-selected{
               border: none;
               cursor: default;
               color: nth($item, 8);
            }
         }

         &>a{
            display: none;
            float: right;
            margin: 5px 20px 0;
            border: none;
            
            &:before{              
               content: "\e804";
               display: inline-block;
               margin-right: 10px;
               font-family: "inclusion";
               font-style: normal;
               font-weight: normal;
               font-variant: normal;
               text-transform: none;
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               color: nth($item, 2);
               font-size: 32px;
               cursor: pointer;                
               @include transition(all, .3s);
            }
            &.is-open:before{                               
               content: "\e805";
            }
            &:hover:before{
               color: nth($item, 8);
            }
         }

         & ul{
            display: block;
            float: left;
            margin: 0 20px;
         }           
         & li{
            margin-right: 5px;
            display: inline-block;
            text-align: center;
         } 
      }   
   } 
}

/* Common navigation */
@mixin nav($color: light){
   @each $item in $colors{
      @if $color == nth($item, 1){
         display: block;        
         width: 100%;
         background: #{nth($item, 2)};
         text-align: center;                   
                   
         & li{
            display: inline-block;
            position: relative;               
            padding: 10px 10px 15px;                         
               
            &.submenu>a:after{
               content: "\e809";
               display: inline-block;
               padding-left: 5px;
               font-family: "inclusion";
               font-style: normal;
               font-weight: normal;
               font-variant: normal;
               text-transform: none;
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               font-size: 20px;
               vertical-align: middle;
            } 
            & a{            
               font-family: $font-condensed;
               font-size: 30px;
               color: #{nth($item, 6)};    
               text-decoration: none;
               @include transition(all, .3s);
               
               &:hover{
                  color: #{nth($item, 4)};
               }
               &.is-active{
                  border: none;
                  cursor: default;
                  color: #{nth($item, 4)};
               }
            }
            
            &>ul{
               position: absolute;
               display: none;
               padding: 10px 0 0;
               left: 0;
               z-index: 101;
               background: #{nth($item, 2)};
               text-align: left;
               overflow: hidden;
            } 
            &:hover ul{
               display: block;
            }
            & li{ 
               display: block;
               padding: 0 10px 10px;
            }
         }

         @media screen and (max-width: 800px){
            & li{
               display: block;              
               padding: 5px 10px 10px;              

               &>ul{
                  position: relative;
                  text-align: center;              
               }
               & li{
                  display: inline-block;
                  padding: 0 10px 10px;
               }
            }
         } 
      }   
   }   
}